div .wmqiniuupload {
	width: 100px;
	height: 100px;
	float: left;
	display: inline-block;
	margin-right: 0.2389rem;
	position: relative;
	margin-bottom: .128rem;
}

div .wmqiniuupload a {
	top: -5px;
	right: -5px;
	height: 20px;
	width: 20px;
	display: block;
	text-align: center;
	background: url(../image/Close_img.png) no-repeat center;
	background-size: 100% 100%;
	position: absolute;
	z-index: 2;
}

.wmqiniuupload {
	margin-right: 10px;
}

div .wmqiniuupload a:hover {
	cursor: pointer;
	background-color: #ff5755;
}

div .wmqiniuupload .outsideborder {
	width: 100px;
	height: 100px font-size: 12px;
	line-height: 4rem;
	margin-top: 6px;
	margin-right: 6px;
}

div .wmqiniuupload .insideborder {;
	width: 100px;
	height: 100px;
	font-size: 12px;
	line-height: 3.5rem;
	margin: 3px;
	background-color: #eee;
}

div .wmqiniuupload .insideborder:HOVER {
	background-color: #c0c0c0;
}

div .wmqiniuupload .insideborder span {
	display: block;
	width: 100px;
	height: 100px;
}

div .wmqiniuupload .insideborder span img {
	width: 85px;
	height: 74px;
	position: absolute;
	margin: 16px 10px;
}