<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wmeimob.yzfs.dao.ExpressTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.wmeimob.yzfs.model.ExpressTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="temp_name" property="tempName" jdbcType="VARCHAR" />
    <result column="bear" property="bear" jdbcType="BIT" />
    <result column="express_type" property="expressType" jdbcType="TINYINT" />
    <result column="express_price_type" property="expressPriceType" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_used" property="isUsed" jdbcType="BIT" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    <result column="is_default" property="isDefault" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, temp_name, bear, express_type, express_price_type, create_time, update_time, 
    is_used, is_deleted, is_default
  </sql>
  
  <!-- 根据ID查询运费模板信息 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from express_template
    where 1=1
    <if test="id!=null and id!=''">
       and id = #{id}
    </if>
  </select>
</mapper>